#mainLinks {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    border-radius: 25px;
    background-color: #000000c7;
    padding: 20px;
    width: 70%;
    height: 25px;
}
li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
   font-weight: bold;
}
nav {
    display: flex;
    justify-content: space-between;
}

#languageLinks {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    border-radius: 25px;
    background-color: #000000c7;
    padding: 20px;
    width: 30%;
    height: 25px;
}